.section--about {
  background-color: rgba(25, 50, 0, 0.15);
  backdrop-filter: blur(var(--blur-value));
}

.section__inner--about {
  display: flex;
  flex-direction: column;
}

.about {
  flex-grow: 1;
  display: inherit;
  flex-direction: row;
  gap: var(--offset-normal);
  border-radius: var(--offset-small);
  padding: var(--offset-normal);
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid var(--color-light-gray);
}

.about__left {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--offset-small);
}

.about__avatar {
  width: 20em;
  height: auto;
  border-radius: var(--offset-small);
  border: 1px solid var(--color-light-gray);
  overflow: hidden;
}

.about__name {
  text-align: center;
}

.about__name-text {
  font-size: var(--font-size-large);
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.about__name-subtext {
  margin-top: 0.6em;
  white-space: nowrap;
  opacity: 0.6;
  font-size: var(--font-size-normal);
  letter-spacing: 0.3px;
}

.about__separator--vertical {
  border-right: 1px solid var(--color-light-gray);
}

.about__separator--horizontal {
  display: none;
  border-bottom: 1px solid var(--color-light-gray);
}

.about__right {
  flex-grow: 1;
}

.about__right-inner {
  display: flex;
  flex-direction: column;
  gap: var(--offset-small);
}

.about__subtitle {
  font-size: var(--font-size-large);
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.3px;
}

.about__subtitle > .about__emoji {
  display: inline-block;
}

.about__subtitle--greeting > .about__emoji {
  animation: hand-waving 0.4s linear infinite;
}

.about__subtitle--stack > .about__emoji {
  animation: gear-rotation 3s linear infinite;
}

.about__text {
  text-align: justify;
  font-size: var(--font-size-medium);
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.2px;
}

.stack {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--offset-small);
}

.stack__item {
  flex: 1;
  padding: 0.6em;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap;
  background-color: var(--color-light-gray);
  border-radius: 0.3em;
  border: 1px solid var(--color-light-gray);
  transition: background-color var(--transition-duration) ease;
}

.stack__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--offset-small);
  padding-bottom: var(--offset-normal);
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6em;
  flex: 1;
  min-width: 200px;
  padding: 0.6em;
  border-radius: 0.6em;
  transition: transform var(--transition-duration) ease, background-color var(--transition-duration) ease;
  border: 1px solid var(--color-light-gray);

}

.link:hover {
  transform: translateY(-8px);
}

.link__icon {
  width: 1.5em;
}

.link__text {
  font-size: 1.5em;
  white-space: nowrap;
  font-weight: 400;
}

.link--knowledge-base {
  background-color: rgba(255, 255, 255, 0.1);
}

.link--knowledge-base:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.link--knowledge-base > .link__text {
  color: #ffffff;
}

.link--telegram {
  background-color: rgba(42, 141, 238, 0.1);
}

.link--telegram:hover {
  background-color: rgba(42, 141, 238, 0.2);
}

.link--email {
  background-color: rgba(80, 160, 0, 0.1);
}

.link--email:hover {
  background-color: rgba(80, 160, 0, 0.2);
}

.link--github {
  background-color: rgba(51, 51, 51, 0.1);
}

.link--github:hover {
  background-color: rgba(51, 51, 51, 0.2);
}

@keyframes hand-waving {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes gear-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about__separator--vertical {
    display: none;
  }

  .about__separator--horizontal {
    display: block;
  }
}