.section--projects {
  background-color: rgba(25, 50, 0, 0.15);
  backdrop-filter: blur(4px);
}
.section__inner--projects {
  display: flex;
  flex-direction: column;
}
.projects {
  flex-grow: 1;
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}

.projects__placeholder {
  text-align: center;
  font-size: 1.5em;
  opacity: 0.5;
}