.page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-optical-sizing: auto;
}
.page-body__text-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.page-body__greeting-text {
  text-align: center;
  margin-bottom: 1em;
}
.page-body__text {
  text-align: justify;
}
.page-body__with-respect-text {
  text-align: end;
  margin-top: 1em;
}