/* common */
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
}
p, a, h1, h2, h3, h4, h5, h6, li, label, strong {
  margin: 0;
}
/* header */
.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em 0.8em;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 999;
}
.header-inner__sidebar-toggle {
  display: flex;
  flex-direction: row;
  width: 2em;
  height: 2em;
  margin-right: 0.4em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}
.header-inner__sidebar-toggle:hover {
  cursor: pointer;
}
.sidebar-toggle__icon {
  width: auto;
  height: 100%;
  padding: 0.15em;
  transition: transform 0.2s ease-in-out;
}
.header-inner__logo {
  line-height: 1;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* main */
main {
  display: flex;
  flex-direction: row;
}
.sidebar {
  position: fixed;
  min-width: 350px;
  max-width: 350px;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  background-color: rgb(255, 255, 255);
  border-right: 2px solid rgb(0, 0, 0);
  transition: left 0.2s ease-in-out;
  z-index: 999;
  overflow-y: auto;
}
.sidebar-shadow {
  transition: min-width 0.2s ease-in-out;
}
.sidebar__section {
  border: 2px solid rgb(0, 0, 0);
}
.sidebar-section__title {
  text-align: center;
  padding: 0.4em 0.8em;
  line-height: 1;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.sidebar-section__inner {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.sidebar-section__info {
  text-align: center;
  font-weight: normal;
  padding: 0.8em;
  padding-top: 0;
  opacity: 0.6;
}
.sidebar-section__info::before {
  content: "(";
}
.sidebar-section__info::after {
  content: ")";
}
/* nav */
.nav-list__title {
  margin-bottom: 0.4em;
}
.nav-list__title::after {
  content: ':';
}
.nav-list__inner {
  margin: 0;
  padding-left: 0.6em;
  list-style-position: inside;
  counter-reset: list;
  border-left: 2px solid rgb(0, 0, 0);
}
.nav-list__inner-item {
  padding: 0.3em 0;
  counter-increment: list;
}
.nav-list__inner-item:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
.nav-list__inner-item::marker {
  content: counter(list) '.';
}
.nav-list__inner-item::before {
  content: '';
  display: inline-block;
  width: 0.15em;
}
.nav-list__inner-item_inactive {
  padding: 0.3em 0;
  font-size: 1em;
  opacity: 0.6;
}
.nav-list__inner-item_inactive:hover {
  cursor: default;
  text-decoration: none;
}
.nav-list__inner-item_inactive::marker {
  content: '';
}
.nav-list__inner-item_inactive::before {
  content: '';
  display: none;
}
/* contacts */
.contacts__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.4em;
}
.contacts__item-label {
  opacity: 0.6;
}
/* page */
.page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.page-wrapper__page {
  margin: 0 auto;
  padding: 0.8em;
  padding-top: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.page-wrapper__page-title {
  margin-bottom: 0.8em;
  padding: 0.4em 0.8em;
  font-weight: normal;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.page-wrapper__page-content {
  flex-grow: 1;
  display: flex;
}
/* footer */
footer {
  padding: 0.4em 0.8em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.copyright {
  line-height: 1;
  color: rgb(255, 255, 255);
}
/* media [320 480 768 1024 1200+] */
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
  .sidebar {
    min-width: 100vw;
    max-width: 100vw;
  }
}